@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

th {
  padding: 20px;
  text-align: left;
}

td {
  padding: 15px;
}

table {
  width: 100%;
}

thead,
tbody {
  @include mixins.boxShadow;
}

.td-buttons {
  min-width: 100px;
  text-align: right;
}

.td-buttons button {
  margin-left: 10px;
}
